h1 {
    color:lime
}
img {
    width: 400px;
}
#thirdDiv {
    width: 500px;
    height: 600px;
    background-color: rgb(255, 145, 0);
    padding: 50px;
    border: 5px solid rgb(10, 1, 7);
}
#spanId {
    font-size: 18px;
    margin: 50px;
}